
 @import "bootstrap/scss/bootstrap";

 .my-cards {

}

.my-card{
  background-color: lightgray;
  margin: 5px;
  box-shadow: 2px 1px 1px gray;
  border-radius: 4px;
}

.info{
  background-color: white;
}
